@font-face {
  font-family: 'MyFont';
  src: url('./NanumBrushScript-Regular.woff') format('woff');
  font-weight: 600;
  font-size: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.png');
}
